
{{#if shouldAddAuth}}
import { withAuth } from "@context/Auth";
{{/if}}

{{#if shouldAddComponents}}
  import { Component } from "./components";

{{/if}}
type
{{pascalCase name}}Props = {}; function
{{pascalCase name}}(props:
{{pascalCase name}}Props) { return (
<div>
  <h1>{{pascalCase name}}</h1>
</div>
); } export default
{{#if shouldAddAuth}}withAuth({{pascalCase name}}){{else}}{{pascalCase name}}{{/if}};